{% load static %} {% block body %} {% include 'recruiter_navigation.html' %}

<head>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>

<marquee behavior="" direction="right">Change Password Recruiter</marquee>
<script>
  checkpass = () => {
    if (
      document.checkpassword.new_password.value !=
      document.checkpassword.cn_password.value
    ) {
      alert("new password and confirm password does not matched");
      document.checkpassword.cn_password.focus();
      return false;
    }
    return true;
  };
</script>
<form method="post" enctype="multipart/form-data" name="changepassword" onclick="return checkpass()">
  {% csrf_token %}
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center"
      style="padding-top: 40px; padding-bottom: 15px;">
      <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0"
        style="display: flex; justify-content: center; margin: auto">
        <h2 class="text-gray-900 text-lg font-medium title-font mb-2">
          Sign Up
        </h2>
        <div class="relative mb-4">
          <label for="full-name" class="leading-7 text-sm text-gray-600">Current Password</label>
          <input type="password" id="fname" name="password" required="true"
            class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
        </div>
        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600">New Password</label>
          <input type="password" id="fname" name="new_password" required="true"
            class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
        </div>
        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600">Confirm New Password</label>
          <input type="password" id="fname" name="cn_password" required="true"
            class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" />
        </div>
        <button type="submit"
          class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
          Button
        </button>
      </div>
    </div>
  </section>
</form>

<style>
  marquee {
    font-family: "Girassol", cursive;
    background-color: cornflowerblue;
    margin-top: 25px;
    padding: 4px;
    font-size: 2.2rem;
    font-style: italic;
  }
</style>

{% ifequal error 'no' %}
<script>
  alert("Your Password Changed Successful");
  window.location = ('{% url 'Logout' %}');
</script>
{% endifequal %} {% ifequal error 'yes' %}
<script>
  alert("Something Went Wrong. Try again...");
</script>
{% endifequal %} {% ifequal error 'not' %}
<script>
  alert("your current password is wrong...");
</script>
{% endifequal %} {% include 'footer.html' %} {% endblock %}