<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body>
  <div class="wrapper">
    <div class="left">
      <img src="/home/dev/Desktop/django/JOB-PORTAL/jobportal/job/static/images/p2.jpg" alt="user" width="100">
      <h4>ALex William</h4>
      <p>developer</p>
    </div>
    <div class="right">

      <div class="info">
        <h3>information</h3>
        <div class="info_data">
          <div class="data">
            <h4>Email</h4>
            <p>alex2gmail.com</p>
          </div>
          <div class="data">
            <h4>Phone</h4>
            <p>084084-4383289</p>
          </div>
        </div>
      </div>


      <div class="projects">
        <h2>projects</h2>
        <div class="projects_data">
          <div class="data">
            <h4>recent</h4>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="data">
            <h4>most viewed</h4>
            <p>dollar sit amet.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>

<!-- 
<div class="">
    <a href="#" class="mr-5 hover:text-gray-900" id="menu-btn">ho</a>
    <div id="dropdown" class="bg-gray-200 flex flex-col hidden rounded mt-1 p-2 text-sm w-32">
        <a href="#" class="px-2 py-1 hover:bg-blue-300 rounded">Rejected</a>
        <a href="#" class="px-2 py-1 hover:bg-blue-300 rounded">pending</a>
        <a href="#" class="px-2 py-1 hover:bg-blue-300 rounded">Accepted</a>
        <a href="#" class="px-2 py-1 hover:bg-blue-300 rounded">View All</a>
    </div>
</div> -->

<!-- 
<script>
    window.addEventListener("DOMContentLoaded", () => {
        const menuBtn = document.querySelector('#menu-btn')
        const dropdown = document.querySelector('#dropdown')

        menuBtn.addEventListener('click', () => {
           
            dropdown.classList.toggle('hidden')
            dropdown.classList.toggle('flex')
        })
    })
</script> -->